<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CacheName" value="demoCache"/>
		<!-- Replace db-conn-string with your database connection string. -->
		<add key="ConnString" value="Server=SULEMAN-HAROON\SQLEXPRESS;Database=efcore;User Id=sa;Password=4Islamabad;TrustServerCertificate=True;" />
	</appSettings>
</configuration>