@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<distributed-cache-ncache name="hi1" vary-by-query="abc" invalidates="true" >
    <h1 class="display-4">@DateTime.Now.ToString()</h1>
</distributed-cache-ncache>
