<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .label1 {
    Z-INDEX: 100;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 58px;
    Width: 454px;
    font-weight: bold;
    font-family: Tahoma;
    Font-Size: small;
    background-color: Wheat;
}

.label6 {
    Z-INDEX: 112;
    LEFT: 24px;
    POSITION: absolute;
    TOP: 271px;
    font-Size: xx-small;
    font-family: Tahoma;
    Width: 96px;
    background-color: Transparent;
    font-weight: bold;
}

.lblHistory {
    Z-INDEX: 111;
    LEFT: 170px;
    POSITION: absolute;
    TOP: 295px;
    Font-Size: xx-small;
    font-family: Tahoma;
    font-weight: bold;
    Width: 304px;
    Height: 72px;
}

.Label5 {
    Z-INDEX: 110;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 295px;
    Font-Size: xx-small;
    font-family: Tahoma;
    font-weight: bold;
}

.txtGuess {
    Z-INDEX: 101;
    LEFT: 135px;
    POSITION: absolute;
    TOP: 130px;
    width: 48px;
    border-style: solid;
    border-width: 1px;
}

.Label2 {
    Z-INDEX: 102;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 133px;
    Font-Size: smaller;
    font-family: Tahoma;
    font-weight: bold;
}

.lblHint {
    Z-INDEX: 103;
    LEFT: 24px;
    POSITION: absolute;
    TOP: 202px;
    Font-Size: x-small;
    font-family: Tahoma;
    font-style: italic;
    background-color: Transparent;
    font-weight: bold;
}

.lblMessage {
    Z-INDEX: 105;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 168px;
    width: 450px;
    Font-Size: smaller;
    font-family: Tahoma;
    color: Crimson;
    background-color: Transparent;
    font-weight: bold;
}

.lblLastGuess {
    Z-INDEX: 106;
    LEFT: 170px;
    POSITION: absolute;
    TOP: 271px;
    width: 54px;
    Font-Size: xx-small;
    font-family: Tahoma;
    font-weight: bold;
}

.cmdGuess {
    Z-INDEX: 107;
    LEFT: 198px;
    POSITION: absolute;
    TOP: 131px;
    width: 134px;
    Font-Size: small;
    font-family: Tahoma;
    border-style: solid;
    border-width: 1px;
}

.lblSystemName {
    Z-INDEX: 108;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 388px;
    width: 454px;
    Font-Size: small;
    font-family: Tahoma;
    font-style: italic;
    background-color: Wheat;
    font-weight: bold;
}

.Label4 {
    Z-INDEX: 109;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 239px;
    width: 454px;
    Font-Size: x-small;
    font-family: Tahoma;
    font-weight: bold;
    background-color: Wheat;
    font-weight: bold;
}

.Label3 {
    Z-INDEX: auto;
    LEFT: 22px;
    POSITION: absolute;
    TOP: 24px;
    width: 454px;
    Font-Size: x-small;
    font-family: Tahoma;
    font-weight: bold;
    background-color: LightSlateGray;
    height: 23px;
    color: white;
    border-style: outset;
}

</style>