<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ConnectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=NHibernate;User ID=sa;Password=4Islamabad;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;" />


		<add key="ncache.application_id" value="myapp" />
	</appSettings>

</configuration>