<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alachisoft.NCache.SDK" version="5.2.0" targetFramework="net40" />
  <package id="AspNet.ViewState.NCache" version="5.2.0" targetFramework="net40" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="19.10.0" targetFramework="net40" />
  <package id="Quartz" version="2.6.2" targetFramework="net40" />
</packages>