<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="cacheManager"  class="com.alachisoft.ncache.spring.NCacheCacheManager">
        <property name="SpringConfigurationManager"  ref="NCacheConfigurationManager"/>
    </bean>

    <bean id="NCacheConfigurationManager"  class="com.alachisoft.ncache.spring.configuration.SpringConfigurationManager">
        <property name="configFile" value="D:\ncache.springbootsample-generic\src\main\resources\NCache-spring.xml"/>
    </bean>
</beans>