<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cacheManager"
          class="com.alachisoft.ncache.spring.NCacheCacheManager">
        <property name="springConfigurationManager" ref="NCacheConfigurationManager"/>
    </bean>
    <bean id="NCacheConfigurationManager"
          class="com.alachisoft.ncache.spring.configuration.SpringConfigurationManager">
        <property name="configFile" value="src/main/resources/ncache-spring.xml" />
    </bean>
</beans>